
<main data-ng-controller="homeCrtl" class="home">
  <div class="container">
    <section class="row">
      <div class="col-xs-12">
        <h1 class="titulo"> <strong>Marcela Gotta </strong><span class="typed-present"></span></h1>
      </div>
    </section>
    <section class="row">
      <!--.col-xs-12
      figure.image-me
          img(src="images/me-img.png").img-responsive
      -->
      <div class="col-xs-12">
        <div class="box-presentation">
          <div class="code-header"></div>
          <div class="circles">
            <div class="red"></div>
            <div class="yellow"></div>
            <div class="green"></div>
          </div>
          <div class="type-presentation">
            <div class="triangle"></div>
            <p> <span class="var">var </span><span class="variable">{{ 'WELCOME' | translate }}</span><span class="equal">= </span><span class="string">"{{ 'HI' | translate }}, <strong>{{nombre}}</strong> {{ 'MEWELCOME' | translate }}".</span></p>
          </div><small class="ilove">
            <p> </p><span class="var">var </span>{{ 'ILOVE' | translate }}<span class="equal">= </span>[<span class="string">{{ 'ILOVEARRAY' | translate }}</span>]</small>
        </div>
      </div>
      <div class="col-xs-12 buttons"><a href="#/about" type="button" class="btn btn-success btn-more">{{ 'ABOUTITTLE' | translate }}</a><a href="#/portfolio" type="button" class="btn btn-success btn-more">{{ 'PORTFOLIOTITTLE' | translate }}</a></div>
    </section>
  </div>
</main>
<script type="text/ng-template" id="content1">
  <form role="form" class="form-name form-inline form-send">
    <div class="presentation">
      <h4>{{ 'NOTE' | translate }}</h4>
      <p>{{ 'BETTEREXPERIENCE' | translate }}</p>
    </div>
    <div class="box-what-name">
      <input type="text" data-ng-model="$root.nombre" title="Please, write your name" placeholder="{{ 'WRITEYOUR' | translate }} {{ 'NAME' | translate }} :)" required="" class="form-control nombre"/>
      <input type="submit" data-ng-click="confirm(1)" value="{{ 'SEND' | translate }}" class="btn btn-success btn-send"/>
      <button type="button" data-ng-click="closeThisDialog('Some value')" class="btn btn-default btn-skip">{{ 'CANCEL' | translate }}</button>
    </div>
  </form>
</script>