
<div data-ng-click="activeButton()" class="box-burger">
  <div data-ng-class="{'open': isOpen}" class="burger">
    <div class="burger-brick"></div>
    <div class="burger-brick middle"></div>
    <div class="burger-brick"></div>
  </div>
</div>
<div class="lang-box">
  <input id="s4" type="checkbox" data-ng-click="checked()"/>
  <label for="s4" class="slider-v2"></label>
</div>
<header data-ng-class="{'abierto': isActive}"><a href="#/">
    <figure class="logo"><img src="images/logo.png" alt="Marcela Gotta"/></figure></a>
  <nav class="menu-principal">
    <ul id="list" class="nav">
      <li class="link active"><a href="/#/">
          <p>Home</p><span class="entypo-home"></span></a></li>
      <li class="link"><a href="/#/about">
          <p>About Me</p><span class="entypo-user"></span></a></li>
      <li class="link"><a href="/#/portfolio">
          <p>My Portfolio</p><span class="entypo-suitcase"></span></a></li>
      <li class="link"><a href="/#/contact">
          <p>Contact Me</p><span class="entypo-mail"></span></a></li>
      <li class="link"><a href="/#/website">
          <p>This Website</p><span class="entypo-code"></span></a></li>
    </ul>
  </nav>
</header>